body{
    font-size:0.8rem
}

.powered-by{
    display: none
}

.pub-banner {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

.article-banner {
    width: 40%;
    height: 10%;
    /* margin-left: auto;  */
    /* margin-right: auto; */
    margin-left:0
  }

.article-title{
    font-size: 1.25rem;
}

.home-section:nth-of-type(even){
    background-color:white;
    border-bottom: 1px solid rgba(0,0,0,.09)
}

/* .card-simple{
    border:0px;
    box-shadow:0 1px 4px white
} */

/* .col-xs-12.col-md-8{
    width:100%
} */

#publications_selected{
    padding-top:10px;
    padding-bottom:10px
}
#publications{
    padding-top:30px;
    padding-bottom:30px
}

#publications:first-child:first-child:first-child h1{
    background-color: black;
    width:0;
    hright:0
}

#publications .section-heading h1{
    display: none
}

.card-simple{
    /* margin-left:-50%; */
    
}

/* #publication:first-child:{
    margin-top:-10%
} */
/* .card-simple:first-of-type{
    margin-top:-7%
} */